body {
	background: #000;
	color: #f0ffff;
}

/* neon text effect */
.neon {
	text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
}

.selected {
	background-color: gray;
}

.hovering {
	color: orange;
}

#controls-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
}

#pause, #play, #replay, #previous, #next, #mute, #unmute, #volume {
	display: none;
}

#player-container {
	position: relative;
    margin: 0 0 0 50px;
}

#player-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.song-info {
	text-align: center;
	width: 100%;
	float: left;
}

#title {
	font-size: 18px;
}

#artist {
	padding-left: 30px;
	font-size: 12px;
}

#playlists-container {
	display: none;
	cursor: default;
	position: absolute;
	top: 0;
	left: 0;
	width: 320px;
	z-index: 100;
}

#hide-playlists {
	position: absolute;
	top: 0;
	left: 320px;
	z-index: 100;
}

#playlist-container {
	width: 100px;
	overflow: auto;
	float: left;
}

#playlist-container ol li {
	background: #000;
	border: 2px solid grey;
	margin: 0 0 2px 0;
}

#playlist-container ol li.playing {
	border: 2px solid orange;
}

#videolist-container {
	width: 220px;
	overflow: auto;
	float: left;
}

#videolist-container ol li {
	background: #000;
	border: 2px solid grey;
	margin: 0 0 2px 0;
}

#videolist-container ol li.playing {
	border: 2px solid orange;
}

#volume {
	width: 32px;
	color: #444444;
}

#volume-slider {
	margin: 20px 10px 20px 10px;
	padding: 0;
	width: 10px;
	height: 200px;
	color: #444444;
}

.noUi-background {
	background: #000;
	box-shadow: inset 0 1px 1px #999999;
}

.noUi-target {
    border: none;
}

.noUi-vertical .noUi-handle {
	width: 22px;
}

.noUi-handle {
	border: none;
	background: #444444;
	box-shadow: inset 0 0 1px #444444,
				inset 0 1px 7px #666666;
}

.noUi-handle::before, #volume-slider .noUi-handle::after {
	content: none;
}

.noUi-connect {
	background: #444444;
}

#volume-label {
	margin: 0 0 0 5px;
}